@import "../../styleGuide/main.scss";

.cart-dropdown {
  position: absolute;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid $yellow;
  color: $dark;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 5px;
  }

  button {
    margin-top: auto;
  }
  .empty-message {
    font-size: 20px;
    margin: 60px auto;
  }
  .empty-message {
    height: auto;
  }
}
