@import "../../styleGuide/main.scss";

.discount {
  height: 4.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary;
  color: $yellow;
  font-weight: 800;
  font-size: 18px;
}

@media screen and (max-width: $regular) {
  .discount {
    height: 2.5rem;
    font-size: 15px;
  }
}
