@import "../../styleGuide/main.scss";

.collection-page {
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 50px 10px;
  margin-top: $navbar-height;

  .collection-page__title {
    font-size: 22px;
    font-weight: 600;
    color: $primary;
    padding: 10px 10px;
    width: 90%;
    margin: auto;
  }

  .collection-page__items {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fill, 400px);
    gap: 20px;
    padding: 10px 10px;
    height: max-content;
  }
}
@media screen and (max-width: $regular) {
  .collection-page {
    .collection-page__items,
    .collection-page__title {
      width: 100%;
    }
  }
}
