@import "../../styleGuide/main.scss";

.group {
  margin: 35px 0;
  height: auto;

  .form-input {
    border: 1px solid #c7c7c7;
    border-radius: 1px;
    color: #222222;
    font-size: 15px;
    font-weight: 600;
    height: 44px;
    padding: 10px 15px;
    display: block;
    width: 100%;
    margin-top: 7px;

    &:hover {
      outline: 2px solid #154284;
    }

    &:focus {
      outline: none;
      border-color: $primary;
    }
  }

  input[type="password"] {
    letter-spacing: 0.2em;
  }

  .form-input-label {
    font-size: 16px;
    font-weight: 700;
    color: #222222;
  }
}
