@import "../../styleGuide/main.scss";

.sign-up {
  display: flex;
  flex-direction: column;
  width: 45%;
}

@media screen and (max-width: $regular) {
  .sign-up {
    width: 95%;
    margin: 45px auto;
  }
}
