@import "../../styleGuide/main.scss";

.menu-item {
  height: 100vh;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;

  .content {
    position: absolute;
    height: auto;
    max-width: 400px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    padding: 0 20px;

    .title {
      font-size: 38px;
      font-weight: 900;
      padding: 0 7px;
      color: white;
      max-width: 600px;
      background: linear-gradient(270deg, #cf122d 0%, #154282 100%);
    }
    .tag {
      padding: 0 7px;
      margin-top: 15px;
      font-size: 22px;
      line-height: 38px;
      background-color: $primary;
      width: max-content;
      max-width: 400px;
    }
    .custom-button {
      width: max-content;
      margin-top: 15px;
    }
  }

  &:hover {
    cursor: pointer;
    .content {
      opacity: 0.9;
    }
  }
}
.odd {
  .content {
    left: 80px;
  }
}
.even {
  .content {
    right: 80px;
  }
}

@media screen and (max-width: $regular) {
  .menu-item {
    height: 120vh;

    .content {
      bottom: 150px;
      left: 0;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      align-items: center;
      .title {
        max-width: 350px;
      }
      .tag {
        max-width: 350px;
      }
      .custom-button {
        width: max-content;
      }
    }

    &:hover {
      cursor: pointer;
      .content {
        opacity: 0.9;
      }
      .background-img {
        transform: none;
      }
    }
  }
  .even {
    background-position: left;
  }
  .odd {
    background-position: right;
  }
  .woman {
    background-position: center;
  }
}
