.checkout-page {
  width: 55%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 10px auto;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
    border-bottom: 1px solid darkgrey;
    height: 30px;
    margin: 0;

    .header-block {
      text-transform: capitalize;
      width: 23%;
      height: fit-content;
      &:last-child {
        width: 8%;
      }
    }
  }

  .total {
    width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
  .stripe {
    margin-left: auto;
    margin-top: 2%;
  }
  .cart-items {
    width: 100%;
  }
  .test-warning {
    color: rgb(248, 67, 12);
    margin-top: 10px;
  }

  .empty-checkout-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      color: gray;
      margin: 12% auto;
    }
  }
}
