.custom-button {
  width: auto;
  padding: 16px 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  background-color: #fdc52c;
  color: #154284;
  border-radius: 2px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: #cf122d;
    color: white;
  }
}
.google-sign-in {
  background-color: #4c8bf5;
  color: white;
  &:hover {
    color: white;
  }
}
.inverted {
  background-color: white;
  color: black;
  border: 1px solid black;

  &:hover {
    background-color: black;
    color: white;
    border: none;
  }
}
