@import "../../styleGuide/main.scss";

.collection__item {
  height: 350px;
  margin-bottom: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .collection__item__image {
    width: 100%;
    height: 95%;
    background-size: cover;
    background-position: center;
    margin-bottom: 5px;
    cursor: pointer;
  }

  &:hover {
    .collection__item__image {
      opacity: 0.9;
    }
  }

  .collection__item__footer {
    padding: 0px 4px;
    width: 100%;
    height: 5%;
    display: flex;
    flex-direction: column;
    color: $text-primary;

    .name {
      font-size: 17px;
      font-weight: 600;
      cursor: pointer;
    }

    .price {
      display: flex;
      justify-content: space-between;
      align-items: center;
      i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        color: $primary;
        font-size: 25px;
        cursor: pointer;
        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
